<div class="right-nav">
  <ul class="right-nav__links">
    <li class="right-nav__links--item">
      <a href="/tasks">Задачи</a>
    </li>
    <li class="right-nav__links--item">
      <a href="/mini-projects">Мини-проекты</a>
    </li>
    <li class="right-nav__links--item">
      <a
        href="https://github.com/benifeks/draft-angular"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span lang="en">GitHub</span>
      </a>
    </li>
    <li class="right-nav__links--list">
      <app-right-nav-list></app-right-nav-list>
    </li>
  </ul>
</div>
