@use "functions" as *;
@use "mixins" as *;
@use "variables" as *;

.right-nav {
  &__links {
    @include flex-around;
    gap: rem(16);

    @media (max-width: $breakpoint-lg) {
      gap: rem(8);

      a {
        font-size: $font-size-base;
      }
    }

    &--item {
      @media (max-width: $breakpoint-md) {
        display: none !important;
      }
    }

    &--list {
      display: none !important;

      @media (max-width: $breakpoint-md) {
        display: block !important;
      }
    }
  }
}
