<div #swiperContainer class="swiper">
  <h3>🧩 Мини-проекты 💡</h3>
  <div class="swiper-wrapper">
    @for (slide of slides; track $index) {
    <div class="swiper-slide">
      <article class="swiper-slide__article">
        <h3>
          <span lang="en">{{ slide.title }}</span>
        </h3>
        <div class="image-wrapper">
          <img
            [src]="slide.image"
            class="image-wrapper__image"
            [alt]="slide.alt"
          />
        </div>
        <a class="swiper-slide__link" [routerLink]="slide.link">Перейти...</a>
      </article>
    </div>
    }
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
