<div class="notes-list">
  @if (notes().length === 0) {
  <p>Заметок пока нет.</p>
  } @else { @for (note of notes(); track note.id) {
  <article class="note">
    <small> Создано: {{ note.createdAt | date : "dd.MM.yyyy (HH:mm)" }} </small>
    @if (note.updatedAt) {
    <small>
      Обновлено: {{ note.updatedAt | date : "dd.MM.yyyy (HH:mm)" }}
    </small>
    }
    <h3>{{ note.title }}</h3>

    <div class="actions">
      <button type="button" (click)="show(note.id)">Показать</button>
      <button type="button" (click)="delete(note.id)">Удалить</button>
    </div>
  </article>
  } }
</div>
