<nav class="nav">
  <ul class="nav__block">
    <li>
      <app-logo></app-logo>
    </li>
    <li>
      <app-left-nav></app-left-nav>
    </li>
  </ul>
  <ul class="nav__block right">
    <li>
      <app-right-nav></app-right-nav>
    </li>
    <li>
      <app-contacts></app-contacts>
    </li>
  </ul>
</nav>

<!-- <ul>
  <li>
    <a href="" class="logo" lang="en"> <span>🏠</span> Home </a>
  </li>
  <li class="left-nav__links--item">
    <a href="#about">Обо мне</a>
  </li>
  <li class="left-nav__links--item">
    <a href="#js-practic">Практика<span lang="en">JS</span></a>
  </li>
  <li class="left-nav__links--item">
    <a href="#contact-mail">Написать мне</a>
  </li>

  <li class="right-nav__links--item">
    <a href="/tasks">Задачи</a>
  </li>
  <li class="right-nav__links--item">
    <a href="/mini-projects">Мини-проекты</a>
  </li>
  <li class="right-nav__links--item">
    <a
      href="https://github.com/benifeks/draft-angular"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span lang="en">GitHub</span>
    </a>
  </li>
</ul> -->
