// src/styles/_globals.scss

@use "functions" as *;
@use "fonts" as *;
@use "mixins" as *;
@use "variables" as *;
// Сброс отступов и паддингов, настройка box-sizing для всех элементов и псевдоэлементов

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Упрощает расчёт размеров элементов
  list-style: none;
}

// Базовые стили для body — типографика и цвета по умолчанию
html,
body {
  font-family: "Ubuntu", sans-serif;
  font-size: rem(16);
  line-height: 1.5;
  color: $text-normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  text-align: center;
  margin-left: rem(16);
  margin-right: rem(16);
}

h1 {
  font-size: rem(64);
}

h2 {
  font-size: rem(48);
}

h3 {
  font-size: rem(32);
  font-family: "Neucha", sans-serif;
}

@media (max-width: $breakpoint-md) {
  h1 {
    font-size: rem(56);
  }
  h2 {
    font-size: rem(40);
  }
  h3 {
    font-size: rem(24);
  }
}

@media (max-width: $breakpoint-sm) {
  h1 {
    font-size: rem(48);
  }
  h2 {
    font-size: rem(32);
  }
}

header {
  background-color: $background-light;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  @include wrapper;
}

section {
  margin-top: rem(80);
}

a {
  @include links;
}
