@use "functions" as *;
@use "mixins" as *;
@use "variables" as *;

.projects-home {
  padding: rem(24);
  margin-top: 0;
  text-align: center;
  color: $text-normal;

  @include flex-column;
  gap: rem(16);

  // Адаптив
  @media (max-width: 768px) {
    padding: rem(16);
    gap: rem(12);
  }

  @media (max-width: 480px) {
    padding: rem(12);
    gap: rem(8);
  }
}

.projects-home__title {
  font-weight: bold;
  color: $primary-color;

  @media (max-width: 768px) {
    font-size: rem(20);
  }

  @media (max-width: 480px) {
    font-size: rem(18);
  }
}

.projects-home__description {
  font-size: $font-size-base;
  max-width: rem(800);
  line-height: 1.6;
  color: $text-normal;

  @media (max-width: 768px) {
    max-width: 100%;
    font-size: rem(14);
  }

  @media (max-width: 480px) {
    font-size: rem(13);
  }
}

// .projects-home {
//   padding: rem(24);
//   margin-top: 0;
//   text-align: center;
//   color: $text-normal;

//   @include flex-column;
//   gap: rem(16);
// }

// .projects-home__title {
//   font-weight: bold;
//   color: $primary-color;
// }

// .projects-home__description {
//   font-size: $font-size-base;
//   max-width: rem(800);
//   line-height: 1.6;
//   color: $text-normal;
// }
